html {
	font-family: monospace;
}

h3 {
	background-color: black;
	padding: 0.3em 0.5em;
	color: white;
	font-weight: bold;
	text-decoration: none;
	border-radius: 3px;
}

a {
	color: orange;
}

a:visited {
	color: white;

	.unread-marker {
		display: none;
	}
}