body {
  background-color: white;
  color: black;
  font-family: monospace;

  display: flex;
  flex-direction: column;

  margin: 0;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: stretch;

  position: relative;

  flex: 1;
}

@media screen and (max-width: 1000px) {
  main {
    font-size: larger;
  }

  sidebar {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  main {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

nav {
  font-family: monospace;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin: 0.5rem;

  width: 8em;

  /* Navigation list */
  ul {
    list-style-type: "// ";
    padding-left: 20%;

    li {

      a {
        color: inherit;
        text-decoration: none;
        /* margin-top: 0.3em; */

        :hover {
          cursor: pointer;
        }
      }
    }
  }

  sidebar {
    div {
      border: 3px;
    }
  }

  #button-board {
    display: flex;
    gap: 0.2em;

    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;

    a {
      width: 90% !important;

      :hover {
        transition: all 0.1s;
        transition-timing-function: ease-in;

        scale: 1.1;
        transform: rotate(-3deg);
      }

      :not(:hover) {
        transition: all 0.1s;
        transition-timing-function: ease-out;

        transform: rotate(0);
        filter: grayscale();
      }

      img {
        width: 100%;
      }
    }

  }
}

#show-nav-button {
  font-family: monospace;

  padding: 0.2em;
  margin-top: 0.5em;
  width: 50vw;
  height: 2em;
  border: none;

  background: black;
  /* background: linear-gradient(90deg,
      black 50%,
      white 100%); */
  color: white;
}

@media screen and (max-width: 600px) {
  nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50vw;

    transition: left 0.5s;
  }

  button:focus+main>nav {
    left: 0;
  }

  #show-nav-button {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  #show-nav-button {
    display: none;
  }
}


article {
  flex: 1;

  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid black;

  h1 {}

  h2 {
    border-bottom: 3px;
    border-radius: 1px;
    padding-left: 0.5em;
    background-color: rgb(255, 239, 203);
  }
}

#under-construction {
  display: flex;
  position: relative;

  background-color: orange;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  padding-top: 0.15em;
  padding-bottom: 0.15em;

  .construction-slogan {
    opacity: 0;
    flex: 1;
  }

  .construction-slogan:nth-child(1) {
    opacity: 1;
  }

  .border {
    flex: 1;
    padding-left: 2em;
    padding-right: 2em;
  }

  #slogans {
    display: grid;

    * {
      grid-area: 1/1;
    }
  }

}

footer {
  position: absolute;
  bottom: 0;

  align-items: center;
}